
trigger_decode/

TL_analisys/data_out/

.ipynb_checkpoints/

__pycache__/

.idea/

Untitled Folder/counts_tree_layers.root

Untitled Folder/counts_tree.root

Untitled Folder/hit_count_save

TL_analisys/raw_data/

TL_analisys/root_files/
